@tailwind base;
@tailwind components;
@tailwind utilities;

/* color: #db79d4 */

:root {
}

body {
  background-color: white
}

h1 {
  font-size: 35px;
  color: 'black';
  font-weight: bold;
}

h2 {
  font-size: 22px;
  font-weight: 400;
  color: #876d8f;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  color: #876d8f;
}

h4 {
  color: #db79d4;
}

h5 {
  font-size: 16px;
  font-weight: 500;
  color: #876d8f;
}

h5:hover {
  color: #db79d4;
}

p {
  color: #876d8f;
  font-weight: 300;
  white-space: pre-line;
  line-height: 1.6;
}

.info {
  padding: 25px;
  padding-bottom: 50px;
  background-color: #faf8fb;
  margin-top: 30px;
  border-radius: 10px;
}

li {
  color: #876d8f;
  padding: 4px;
  padding-left: 8px;
}

li:hover {
  color: #db79d4;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  
  border-left: 35px solid #e897e1;
}

