@tailwind base;
@tailwind components;
@tailwind utilities;

/* color: #db79d4 */

:root {
}

body {
  color: #876d8f;
  background-color: white
}

div {
  color: #876d8f
}


h2 {
  font-size: 22px;
  color: #876d8f;
}

p {
  color: #876d8f;
  font-weight: 300;
}

h1 {
  font-size: 30px;
  color: 'black';
}

h4 {
  color: #db79d4;
}

.info {
  padding: 25px;
  padding-bottom: 50px;
  background-color: #faf8fb;
  margin-top: 30px;
  border-radius: 10px;
}

ul {
  
}

li {
  padding: 4px;
  padding-left: 15px;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  
  border-left: 35px solid #e897e1;
}

